{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h3>Vacuum Gauge Pressure Readings</h3>
  <p>This websites lets you access the pressure values of the vacuum gauges:</p>
  <ul>
   <li><a href="/digital-display">Digital display</a> of the current pressure values.</li>
  </ul>

{% endblock %}